/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,500;1,400&family=Poppins:wght@300&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

* { /* basic page reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: url('img/alaska.jpg') no-repeat;
	background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

main { /* adjust overall page width and center content */
    margin: auto;
    width: 90%; /* give page content some room to breathe*/
    max-width: 1150px;
}

/*
section {
	position: relative;
}
*/

#formBooking { 
    max-width: 800px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.2) 100%);
	margin: auto;
}

header {
    padding: 2em;
}

#formMain { /* form container */
/*	position: relative;*/
	background: #fff;
	margin: 1em auto;
	padding: 1.5625em;
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.form-group { /* seperate out the 'rows' of form inputs */
	/* position: relative; we will be positioning the labels a little bit differently for this form so we need relative on this item */
	margin-bottom: 20px;
}

#bookFlight .form-control { /* style the trip duration radio buttons - style the inputs and select items */
	background-color: #fff;
	height: 60px;
	padding: 24px 15px 0;
	color: #191a1e;
	border: 2px solid #dfe5e9;
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
    display: block;
    width: 100%;
}

/* input focus style, customize color of focus state */
input:focus, select:focus {
    outline: solid 2px rgb(224, 137, 151);
    box-shadow: 0 0 3px rgb(224, 137, 151);
}

/* style the placeholder text (light grey), still need vendor prefixs for a few browsers, including edge 12-18 */
#bookFlight .form-control::-webkit-input-placeholder {
	color: rgb(224, 137, 151);
}

#bookFlight .form-control:-ms-input-placeholder {
	color: rgb(224, 137, 151);
}

#bookFlight .form-control::placeholder {
	color: rgb(224, 137, 151);
}

.bookFlight .form-control:focus {
	background: rgb(224, 137, 151);
}

#bookFlight .form-label { /* style labels */ 
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: rgb(214, 76, 99);
}

/* show flights button */
#bookFlight .show-flights-btn {
	color: #fff;
    cursor: pointer;
	background-color: rgb(243, 70, 98);
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	text-transform: uppercase
}

#callToAction {
	margin-top: 45px;
}

#callToAction h1 {
	font-size: 2.5em;
/*	text-transform: uppercase;*/
	color: rgb(243, 70, 98);
	font-weight: 400;
}

#callToAction p {
	font-size: 1.275em;
	color: rgb(182, 31, 56);
}

/* mid screen layout */
@media screen and (min-width: 430px) {
    
    #bookFlight #tripType label+label { /* create some additional spacing between 2nd and 3d radio button labels. */
        margin-left: 15px;
    }
    #bookFlight #tripType label { /* style the radio buttons labels */ 
        display: inline-block;
        margin-bottom: 0;
    }
	
/* make a 2 column layout */
    #date, #detailsPassengers {
        display: grid;
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 3%;
    }

}
/* large screen layout */
@media screen and (min-width: 960px) { /* create 2 columns with CTA and form */
    #formBooking {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.4) 100%);
		display: grid;
        grid-template-columns: 40% 60%;
        margin: 20% auto;
        max-width: 100%;
    }
	
    #callToAction {
        margin-top: 0; 
        margin-right: 1.5em;
    }

    #formMain { /* make the form span the available space */
        margin: 0;
    }
/* last form row should be 3 columns */
     #detailsPassengers {
        display: grid;
        grid-template-columns: 28% 28% 38%;
        grid-column-gap: 3%;
    } 
}